/* GLOBAL */

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* for debugging */
  border-style: dashed;
}

.AddExpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: firebrick;
}

.AddExpenseForm {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.FuelingTotal {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: blue;
}

.History {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: chocolate;
}

.CarHistory {
  width: 80%;
  /* for debugging */
  border-style: dashed;
  color: blueviolet;
}
