/* GLOBAL */
html {
  background-color: #333;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* COMPONENTS */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* for debugging */
  border-style: dashed;
}

.AppContainer {
  display: flex;
  flex-direction: column;
}

.AddExpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: firebrick;
}

.AddExpenseForm {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.FuelingTotal {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: blue;
}

.History {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* for debugging */
  border-style: dashed;
  color: chocolate;
}

.CarHistory {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;

  /* for debugging */
  border-style: dashed;
  color: blueviolet;
}

.CarHistory li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
